body {
  padding-top: 50px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: grey;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

#carouselExampleIndicators{
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

#myfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-footer:hover {
    background-color: mediumseagreen;
}